{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Site</title>

    <link rel="stylesheet" href="{% static './css/style.css' %}" />
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="row">
          <div class="logo-box">
            <img
              class="logo-img"
              src="{% static './images/df.png' %}"
              alt="Logo"
            />
            <a href="{% url 'home_page' %}" class="logo">MEME NEWS</a>
          </div>
          <ul class="header-nav">
            <li class="nav-list">
              <a href="{% url 'home_page' %}" class="nav-link">Home</a>
            </li>
            <li class="nav-list">
              <a href="{% url 'news_page' %}" class="nav-link">News</a>
            </li>
            <li class="nav-list">
              <a href="{% url 'about_page' %}" class="nav-link">About</a>
            </li>
          </ul>
        </div>
      </div>
    </header>

    <main class="main">{% block content %} {% endblock %}</main>

    <footer class="footer">
      <div class="container">&copy; 20020202020020202. Shampoo ehehehe</div>
    </footer>
  </body>
</html>
